@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ffffff;
}

html {
  height: 100%;
}
body {
  color: var(--foreground);
  background: url(/images/denim.png);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/*NAVBAR*/
.nav-items {
  margin: 0 auto;
  width: 100%;
}
.nav-items ul {
  margin: 0 5%;
  padding: 0;
  padding-top: 5%;
  text-align: right;
}
.nav-items ul li {
  float: none;
  display: inline-block;
}
.nav-items ul li:nth-child(1) {
  float: left;
}
.nav-items ul li:nth-child(2) {
  float: left;
}
.nav-items ul li a {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 10px 40px;
}
.nav-items ul li a:hover {
  color: red;
}
.nav-logo {
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -10%;
}
.nav-logo:hover {
  opacity: 0.6;
}
.menu {
  padding: 10px 5px;
}
.mobile-menu {
  background: hsla(0, 0%, 0%, 0.5);
}
/*HERO*/
.about {
  width: 100%;
}
.section1 {
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.hero {
  width: 100%;
  height: 70%;
  position: relative;
  padding: 1%;
}
.hero h1 {
  position: absolute;
  left: 50%;
  top: 25%;
  font-size: 4rem;
  transform: translate(-50%, -25%);
}
.hero p {
  position: absolute;
  left: 50%;
  top: 35%;
  font-size: 1.4rem;
  transform: translate(-50%, -25%);
}
#first-name {
  color: white;
}
#last-name {
  color: blue;
}
